In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/2020-2021.xlsx')

In [ ]:
df

,No.,Provinsi,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,13/01/2020,...,20/12/2021,21/12/2021,22/12/2021,23/12/2021,24/12/2021,27/12/2021,28/12/2021,29/12/2021,30/12/2021,31/12/2021
0,I,SEMUA PROVINSI,"Rp13,500","Rp13,550","Rp13,600","Rp13,600","Rp13,600","Rp13,650","Rp13,650","Rp13,700",...,"Rp19,500","Rp19,550","Rp19,550","Rp19,550","Rp19,550","Rp19,600","Rp19,650","Rp19,750","Rp19,850","Rp19,900"
1,II,ACEH,"Rp13,600","Rp13,600","Rp13,750","Rp13,750","Rp13,700","Rp13,700","Rp13,800","Rp13,800",...,"Rp19,700","Rp19,950","Rp19,950","Rp19,950","Rp20,000","Rp20,000","Rp20,150","Rp20,150","Rp20,150","Rp20,150"
2,III,SUMATERA UTARA,"Rp12,750","Rp12,800","Rp12,800","Rp12,800","Rp12,800","Rp12,800","Rp12,800","Rp12,950",...,"Rp18,850","Rp18,900","Rp18,900","Rp18,900","Rp18,800","Rp18,800","Rp19,000","Rp19,100","Rp19,200","Rp19,200"
3,IV,SUMATERA BARAT,"Rp13,050","Rp13,100","Rp13,200","Rp13,200","Rp13,200","Rp13,250","Rp13,300","Rp13,600",...,"Rp18,600","Rp18,750","Rp18,750","Rp18,750","Rp18,750","Rp18,700","Rp18,750","Rp18,850","Rp19,000","Rp19,000"
4,V,RIAU,"Rp13,050","Rp13,050","Rp13,250","Rp13,250","Rp13,300","Rp13,350","Rp13,400","Rp13,550",...,"Rp18,300","Rp18,300","Rp18,350","Rp18,700","Rp18,500","Rp19,150","Rp19,150","Rp19,150","Rp19,150","Rp19,150"
5,VI,KEPULAUAN RIAU,"Rp12,450","Rp12,450","Rp12,400","Rp12,400","Rp12,400","Rp12,400","Rp12,400","Rp12,450",...,"Rp20,650","Rp20,650",-,-,-,"Rp19,000","Rp19,300","Rp19,400","Rp19,400","Rp19,400"
6,VII,JAMBI,"Rp12,500","Rp12,500","Rp12,550","Rp12,600","Rp12,600","Rp12,600","Rp12,600","Rp12,600",...,"Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,400","Rp18,400"
7,VIII,BENGKULU,"Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250",...,"Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850"
8,IX,SUMATERA SELATAN,"Rp13,100","Rp13,000","Rp13,150","Rp13,150","Rp13,150","Rp13,150","Rp13,200","Rp13,250",...,"Rp19,650","Rp19,300","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650"
9,X,KEPULAUAN BANGKA BELITUNG,"Rp12,400","Rp12,400","Rp12,400","Rp12,400","Rp12,100","Rp12,100","Rp12,100","Rp12,100",...,"Rp19,450","Rp19,350","Rp20,100","Rp19,450","Rp19,450","Rp19,450","Rp19,350","Rp19,350","Rp19,350","Rp19,350"
10,XI,LAMPUNG,"Rp12,600","Rp12,600","Rp12,650","Rp12,650","Rp12,700","Rp12,700","Rp12,800","Rp12,800",...,"Rp18,750","Rp19,150","Rp19,150","Rp19,200","Rp19,200","Rp19,200","Rp19,250","Rp19,250","Rp19,250","Rp19,250"
11,XII,BANTEN,"Rp12,850","Rp13,000","Rp13,000","Rp13,000","Rp13,000","Rp13,050","Rp13,050","Rp13,200",...,"Rp19,350","Rp19,350","Rp19,350","Rp19,350","Rp19,350","Rp19,600","Rp19,600","Rp19,600","Rp19,600","Rp19,600"
12,XIII,JAWA BARAT,"Rp12,950","Rp13,050","Rp13,150","Rp13,300","Rp13,300","Rp13,350","Rp13,350","Rp13,400",...,"Rp19,600","Rp19,600","Rp19,600","Rp19,600","Rp19,650","Rp19,700","Rp19,700","Rp19,700","Rp19,750","Rp19,750"
13,XIV,DKI JAKARTA,"Rp13,050","Rp13,050","Rp13,400","Rp13,850","Rp13,850","Rp13,850","Rp13,900","Rp13,900",...,"Rp20,400","Rp20,400","Rp20,400","Rp20,400","Rp20,400","Rp20,600","Rp20,450","Rp20,450","Rp20,550","Rp20,550"
14,XV,JAWA TENGAH,"Rp12,600","Rp12,500","Rp12,650","Rp12,650","Rp12,650","Rp12,700","Rp12,650","Rp12,800",...,"Rp18,850","Rp18,850","Rp18,900","Rp18,900","Rp18,900","Rp19,050","Rp19,100","Rp19,150","Rp19,200","Rp19,200"
15,XVI,DI YOGYAKARTA,"Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150",...,"Rp18,550","Rp18,550","Rp18,550","Rp18,550","Rp18,550","Rp18,550","Rp18,600","Rp18,600","Rp18,600","Rp18,600"
16,XVII,JAWA TIMUR,"Rp12,600","Rp12,650","Rp12,700","Rp12,700","Rp12,700","Rp12,750","Rp12,750","Rp12,850",...,"Rp19,000","Rp19,150","Rp19,100","Rp19,150","Rp19,150","Rp19,250","Rp19,350","Rp19,350","Rp19,350","Rp19,400"
17,XVIII,BALI,"Rp13,500","Rp13,500","Rp13,500","Rp13,650","Rp13,650","Rp13,650","Rp13,800","Rp13,800",...,"Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,800"
18,XIX,NUSA TENGGARA BARAT,"Rp13,750","Rp13,850","Rp13,850","Rp13,850","Rp13,850","Rp13,900","Rp13,850","Rp14,000",...,"Rp18,850","Rp19,150","Rp18,900","Rp18,900","Rp18,900","Rp18,900","Rp19,200","Rp19,250","Rp19,250","Rp19,250"
19,XX,NUSA TENGGARA TIMUR,"Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,200",...,"Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp20,050","Rp20,100","Rp20,100","Rp20,100","Rp20,100"
20,XXI,KALIMANTAN BARAT,"Rp12,800","Rp12,900","Rp13,200","Rp13,350","Rp13,350","Rp13,350","Rp13,350","Rp13,450",...,"Rp20,250","Rp20,250","Rp20,250","Rp20,250","Rp20,250","Rp20,300","Rp20,300","Rp20,300","Rp20,300","Rp20,300"
21,XXII,KALIMANTAN SELATAN,"Rp12,700","Rp12,700","Rp12,800","Rp12,800","Rp12,800","Rp12,850","Rp12,900","Rp12,950",...,"Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp19,200","Rp19,200","Rp19,200"
22,XXIII,KALIMANTAN TENGAH,"Rp13,950","Rp14,000","Rp14,000","Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp14,300",...,"Rp19,300","Rp19,300","Rp19,300","Rp19,300","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400"
23,XXIV,KALIMANTAN TIMUR,"Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,800",...,"Rp18,950","Rp19,100","Rp19,150","Rp19,150","Rp19,200","Rp19,500","Rp19,550","Rp19,550","Rp19,600","Rp19,600"
24,XXV,KALIMANTAN UTARA,"Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,700",...,-,-,-,-,-,"Rp19,650","Rp20,150","Rp20,150","Rp20,300","Rp20,450"
25,XXVI,GORONTALO,"Rp15,950","Rp15,950","Rp16,150","Rp16,300","Rp16,300","Rp16,300","Rp16,300","Rp16,350",...,"Rp25,700","Rp25,700","Rp25,700","Rp25,700","Rp25,700","Rp25,850","Rp25,550","Rp25,850","Rp25,850","Rp25,850"
26,XXVII,SULAWESI SELATAN,"Rp12,550",-,"Rp12,650","Rp12,750","Rp12,750","Rp12,750",-,"Rp12,800",...,"Rp18,950","Rp19,050","Rp19,150","Rp19,200","Rp19,200","Rp19,250","Rp18,850","Rp19,750","Rp19,800","Rp19,900"
27,XXVIII,SULAWESI TENGGARA,"Rp14,000","Rp14,000","Rp14,200","Rp14,200","Rp14,150","Rp14,150","Rp14,150","Rp14,150",...,"Rp19,650","Rp19,650","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,750"
28,XXIX,SULAWESI TENGAH,"Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp13,900","Rp14,100",...,"Rp20,300","Rp20,300","Rp20,300","Rp20,450","Rp20,450","Rp20,500","Rp20,550","Rp20,550","Rp20,550","Rp20,550"
29,XXX,SULAWESI UTARA,"Rp14,950","Rp15,000","Rp14,900","Rp14,900","Rp14,900","Rp14,900","Rp14,900","Rp14,900",...,"Rp18,250","Rp18,200","Rp18,200","Rp18,150","Rp18,200","Rp18,200","Rp18,250","Rp18,550","Rp18,550","Rp18,600"
30,XXXI,SULAWESI BARAT,"Rp13,300","Rp13,300","Rp13,300","Rp13,300","Rp13,350","Rp13,350","Rp13,350","Rp13,350",...,"Rp18,700","Rp18,700","Rp18,750","Rp18,750","Rp18,750","Rp18,850","Rp18,700","Rp18,700","Rp18,700","Rp18,700"
31,XXXII,MALUKU,"Rp15,200","Rp15,200","Rp15,200","Rp15,200","Rp15,200","Rp15,250","Rp15,200","Rp15,200",...,"Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800"
32,XXXIII,MALUKU UTARA,"Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850",...,"Rp17,700","Rp17,750","Rp18,000","Rp18,000","Rp18,000","Rp17,500","Rp17,500","Rp19,000","Rp22,300","Rp22,300"
33,XXXIV,PAPUA,"Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750",...,"Rp19,500","Rp19,750","Rp19,700","Rp19,750","Rp19,850","Rp19,950","Rp19,950","Rp19,950","Rp20,050","Rp20,050"
34,XXXV,PAPUA BARAT,"Rp15,250","Rp15,250","Rp15,450","Rp15,450","Rp15,450","Rp15,450","Rp15,450","Rp15,450",...,"Rp22,150","Rp22,150","Rp22,150","Rp22,250","Rp22,250","Rp22,250","Rp22,250","Rp22,250","Rp22,250","Rp22,250"

In [ ]:
df2 = df.copy()

In [ ]:
df2.shape
df2.dropna()

,No.,Provinsi,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,13/01/2020,...,20/12/2021,21/12/2021,22/12/2021,23/12/2021,24/12/2021,27/12/2021,28/12/2021,29/12/2021,30/12/2021,31/12/2021
0,I,SEMUA PROVINSI,"Rp13,500","Rp13,550","Rp13,600","Rp13,600","Rp13,600","Rp13,650","Rp13,650","Rp13,700",...,"Rp19,500","Rp19,550","Rp19,550","Rp19,550","Rp19,550","Rp19,600","Rp19,650","Rp19,750","Rp19,850","Rp19,900"
1,II,ACEH,"Rp13,600","Rp13,600","Rp13,750","Rp13,750","Rp13,700","Rp13,700","Rp13,800","Rp13,800",...,"Rp19,700","Rp19,950","Rp19,950","Rp19,950","Rp20,000","Rp20,000","Rp20,150","Rp20,150","Rp20,150","Rp20,150"
2,III,SUMATERA UTARA,"Rp12,750","Rp12,800","Rp12,800","Rp12,800","Rp12,800","Rp12,800","Rp12,800","Rp12,950",...,"Rp18,850","Rp18,900","Rp18,900","Rp18,900","Rp18,800","Rp18,800","Rp19,000","Rp19,100","Rp19,200","Rp19,200"
3,IV,SUMATERA BARAT,"Rp13,050","Rp13,100","Rp13,200","Rp13,200","Rp13,200","Rp13,250","Rp13,300","Rp13,600",...,"Rp18,600","Rp18,750","Rp18,750","Rp18,750","Rp18,750","Rp18,700","Rp18,750","Rp18,850","Rp19,000","Rp19,000"
4,V,RIAU,"Rp13,050","Rp13,050","Rp13,250","Rp13,250","Rp13,300","Rp13,350","Rp13,400","Rp13,550",...,"Rp18,300","Rp18,300","Rp18,350","Rp18,700","Rp18,500","Rp19,150","Rp19,150","Rp19,150","Rp19,150","Rp19,150"
5,VI,KEPULAUAN RIAU,"Rp12,450","Rp12,450","Rp12,400","Rp12,400","Rp12,400","Rp12,400","Rp12,400","Rp12,450",...,"Rp20,650","Rp20,650",-,-,-,"Rp19,000","Rp19,300","Rp19,400","Rp19,400","Rp19,400"
6,VII,JAMBI,"Rp12,500","Rp12,500","Rp12,550","Rp12,600","Rp12,600","Rp12,600","Rp12,600","Rp12,600",...,"Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,350","Rp18,400","Rp18,400"
7,VIII,BENGKULU,"Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250","Rp12,250",...,"Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850","Rp18,850"
8,IX,SUMATERA SELATAN,"Rp13,100","Rp13,000","Rp13,150","Rp13,150","Rp13,150","Rp13,150","Rp13,200","Rp13,250",...,"Rp19,650","Rp19,300","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650","Rp19,650"
9,X,KEPULAUAN BANGKA BELITUNG,"Rp12,400","Rp12,400","Rp12,400","Rp12,400","Rp12,100","Rp12,100","Rp12,100","Rp12,100",...,"Rp19,450","Rp19,350","Rp20,100","Rp19,450","Rp19,450","Rp19,450","Rp19,350","Rp19,350","Rp19,350","Rp19,350"
10,XI,LAMPUNG,"Rp12,600","Rp12,600","Rp12,650","Rp12,650","Rp12,700","Rp12,700","Rp12,800","Rp12,800",...,"Rp18,750","Rp19,150","Rp19,150","Rp19,200","Rp19,200","Rp19,200","Rp19,250","Rp19,250","Rp19,250","Rp19,250"
11,XII,BANTEN,"Rp12,850","Rp13,000","Rp13,000","Rp13,000","Rp13,000","Rp13,050","Rp13,050","Rp13,200",...,"Rp19,350","Rp19,350","Rp19,350","Rp19,350","Rp19,350","Rp19,600","Rp19,600","Rp19,600","Rp19,600","Rp19,600"
12,XIII,JAWA BARAT,"Rp12,950","Rp13,050","Rp13,150","Rp13,300","Rp13,300","Rp13,350","Rp13,350","Rp13,400",...,"Rp19,600","Rp19,600","Rp19,600","Rp19,600","Rp19,650","Rp19,700","Rp19,700","Rp19,700","Rp19,750","Rp19,750"
13,XIV,DKI JAKARTA,"Rp13,050","Rp13,050","Rp13,400","Rp13,850","Rp13,850","Rp13,850","Rp13,900","Rp13,900",...,"Rp20,400","Rp20,400","Rp20,400","Rp20,400","Rp20,400","Rp20,600","Rp20,450","Rp20,450","Rp20,550","Rp20,550"
14,XV,JAWA TENGAH,"Rp12,600","Rp12,500","Rp12,650","Rp12,650","Rp12,650","Rp12,700","Rp12,650","Rp12,800",...,"Rp18,850","Rp18,850","Rp18,900","Rp18,900","Rp18,900","Rp19,050","Rp19,100","Rp19,150","Rp19,200","Rp19,200"
15,XVI,DI YOGYAKARTA,"Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150","Rp12,150",...,"Rp18,550","Rp18,550","Rp18,550","Rp18,550","Rp18,550","Rp18,550","Rp18,600","Rp18,600","Rp18,600","Rp18,600"
16,XVII,JAWA TIMUR,"Rp12,600","Rp12,650","Rp12,700","Rp12,700","Rp12,700","Rp12,750","Rp12,750","Rp12,850",...,"Rp19,000","Rp19,150","Rp19,100","Rp19,150","Rp19,150","Rp19,250","Rp19,350","Rp19,350","Rp19,350","Rp19,400"
17,XVIII,BALI,"Rp13,500","Rp13,500","Rp13,500","Rp13,650","Rp13,650","Rp13,650","Rp13,800","Rp13,800",...,"Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,800"
18,XIX,NUSA TENGGARA BARAT,"Rp13,750","Rp13,850","Rp13,850","Rp13,850","Rp13,850","Rp13,900","Rp13,850","Rp14,000",...,"Rp18,850","Rp19,150","Rp18,900","Rp18,900","Rp18,900","Rp18,900","Rp19,200","Rp19,250","Rp19,250","Rp19,250"
19,XX,NUSA TENGGARA TIMUR,"Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,300","Rp15,200",...,"Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp20,050","Rp20,100","Rp20,100","Rp20,100","Rp20,100"
20,XXI,KALIMANTAN BARAT,"Rp12,800","Rp12,900","Rp13,200","Rp13,350","Rp13,350","Rp13,350","Rp13,350","Rp13,450",...,"Rp20,250","Rp20,250","Rp20,250","Rp20,250","Rp20,250","Rp20,300","Rp20,300","Rp20,300","Rp20,300","Rp20,300"
21,XXII,KALIMANTAN SELATAN,"Rp12,700","Rp12,700","Rp12,800","Rp12,800","Rp12,800","Rp12,850","Rp12,900","Rp12,950",...,"Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp18,950","Rp19,200","Rp19,200","Rp19,200"
22,XXIII,KALIMANTAN TENGAH,"Rp13,950","Rp14,000","Rp14,000","Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp14,300",...,"Rp19,300","Rp19,300","Rp19,300","Rp19,300","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400","Rp19,400"
23,XXIV,KALIMANTAN TIMUR,"Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,500","Rp14,800",...,"Rp18,950","Rp19,100","Rp19,150","Rp19,150","Rp19,200","Rp19,500","Rp19,550","Rp19,550","Rp19,600","Rp19,600"
24,XXV,KALIMANTAN UTARA,"Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,650","Rp13,700",...,-,-,-,-,-,"Rp19,650","Rp20,150","Rp20,150","Rp20,300","Rp20,450"
25,XXVI,GORONTALO,"Rp15,950","Rp15,950","Rp16,150","Rp16,300","Rp16,300","Rp16,300","Rp16,300","Rp16,350",...,"Rp25,700","Rp25,700","Rp25,700","Rp25,700","Rp25,700","Rp25,850","Rp25,550","Rp25,850","Rp25,850","Rp25,850"
26,XXVII,SULAWESI SELATAN,"Rp12,550",-,"Rp12,650","Rp12,750","Rp12,750","Rp12,750",-,"Rp12,800",...,"Rp18,950","Rp19,050","Rp19,150","Rp19,200","Rp19,200","Rp19,250","Rp18,850","Rp19,750","Rp19,800","Rp19,900"
27,XXVIII,SULAWESI TENGGARA,"Rp14,000","Rp14,000","Rp14,200","Rp14,200","Rp14,150","Rp14,150","Rp14,150","Rp14,150",...,"Rp19,650","Rp19,650","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,700","Rp19,750"
28,XXIX,SULAWESI TENGAH,"Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp14,100","Rp13,900","Rp14,100",...,"Rp20,300","Rp20,300","Rp20,300","Rp20,450","Rp20,450","Rp20,500","Rp20,550","Rp20,550","Rp20,550","Rp20,550"
29,XXX,SULAWESI UTARA,"Rp14,950","Rp15,000","Rp14,900","Rp14,900","Rp14,900","Rp14,900","Rp14,900","Rp14,900",...,"Rp18,250","Rp18,200","Rp18,200","Rp18,150","Rp18,200","Rp18,200","Rp18,250","Rp18,550","Rp18,550","Rp18,600"
30,XXXI,SULAWESI BARAT,"Rp13,300","Rp13,300","Rp13,300","Rp13,300","Rp13,350","Rp13,350","Rp13,350","Rp13,350",...,"Rp18,700","Rp18,700","Rp18,750","Rp18,750","Rp18,750","Rp18,850","Rp18,700","Rp18,700","Rp18,700","Rp18,700"
31,XXXII,MALUKU,"Rp15,200","Rp15,200","Rp15,200","Rp15,200","Rp15,200","Rp15,250","Rp15,200","Rp15,200",...,"Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800","Rp20,800"
32,XXXIII,MALUKU UTARA,"Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850","Rp14,850",...,"Rp17,700","Rp17,750","Rp18,000","Rp18,000","Rp18,000","Rp17,500","Rp17,500","Rp19,000","Rp22,300","Rp22,300"
33,XXXIV,PAPUA,"Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750","Rp14,750",...,"Rp19,500","Rp19,750","Rp19,700","Rp19,750","Rp19,850","Rp19,950","Rp19,950","Rp19,950","Rp20,050","Rp20,050"
34,XXXV,PAPUA BARAT,"Rp15,250","Rp15,250","Rp15,450","Rp15,450","Rp15,450","Rp15,450","Rp15,450","Rp15,450",...,"Rp22,150","Rp22,150","Rp22,150","Rp22,250","Rp22,250","Rp22,250","Rp22,250","Rp22,250","Rp22,250","Rp22,250"

In [ ]:
df2[df2.columns[2:]] = df2[df2.columns[2:]].apply(lambda x: x.str.replace('Rp','')).apply(lambda x: x.str.replace(',','')).apply(lambda x: x.str.replace('-',''))

In [ ]:
df2[df2.columns[2:]] = df2[df2.columns[2:]].apply(lambda x: x.str.strip())

In [ ]:
df2 = df2.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
df2

,No.,Provinsi,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,13/01/2020,...,20/12/2021,21/12/2021,22/12/2021,23/12/2021,24/12/2021,27/12/2021,28/12/2021,29/12/2021,30/12/2021,31/12/2021
0,I,SEMUA PROVINSI,13500,13550,13600,13600,13600,13650,13650,13700,...,19500,19550,19550,19550,19550,19600,19650,19750,19850,19900
1,II,ACEH,13600,13600,13750,13750,13700,13700,13800,13800,...,19700,19950,19950,19950,20000,20000,20150,20150,20150,20150
2,III,SUMATERA UTARA,12750,12800,12800,12800,12800,12800,12800,12950,...,18850,18900,18900,18900,18800,18800,19000,19100,19200,19200
3,IV,SUMATERA BARAT,13050,13100,13200,13200,13200,13250,13300,13600,...,18600,18750,18750,18750,18750,18700,18750,18850,19000,19000
4,V,RIAU,13050,13050,13250,13250,13300,13350,13400,13550,...,18300,18300,18350,18700,18500,19150,19150,19150,19150,19150
5,VI,KEPULAUAN RIAU,12450,12450,12400,12400,12400,12400,12400,12450,...,20650,20650,NaN,NaN,NaN,19000,19300,19400,19400,19400
6,VII,JAMBI,12500,12500,12550,12600,12600,12600,12600,12600,...,18350,18350,18350,18350,18350,18350,18350,18350,18400,18400
7,VIII,BENGKULU,12250,12250,12250,12250,12250,12250,12250,12250,...,18850,18850,18850,18850,18850,18850,18850,18850,18850,18850
8,IX,SUMATERA SELATAN,13100,13000,13150,13150,13150,13150,13200,13250,...,19650,19300,19650,19650,19650,19650,19650,19650,19650,19650
9,X,KEPULAUAN BANGKA BELITUNG,12400,12400,12400,12400,12100,12100,12100,12100,...,19450,19350,20100,19450,19450,19450,19350,19350,19350,19350
10,XI,LAMPUNG,12600,12600,12650,12650,12700,12700,12800,12800,...,18750,19150,19150,19200,19200,19200,19250,19250,19250,19250
11,XII,BANTEN,12850,13000,13000,13000,13000,13050,13050,13200,...,19350,19350,19350,19350,19350,19600,19600,19600,19600,19600
12,XIII,JAWA BARAT,12950,13050,13150,13300,13300,13350,13350,13400,...,19600,19600,19600,19600,19650,19700,19700,19700,19750,19750
13,XIV,DKI JAKARTA,13050,13050,13400,13850,13850,13850,13900,13900,...,20400,20400,20400,20400,20400,20600,20450,20450,20550,20550
14,XV,JAWA TENGAH,12600,12500,12650,12650,12650,12700,12650,12800,...,18850,18850,18900,18900,18900,19050,19100,19150,19200,19200
15,XVI,DI YOGYAKARTA,12150,12150,12150,12150,12150,12150,12150,12150,...,18550,18550,18550,18550,18550,18550,18600,18600,18600,18600
16,XVII,JAWA TIMUR,12600,12650,12700,12700,12700,12750,12750,12850,...,19000,19150,19100,19150,19150,19250,19350,19350,19350,19400
17,XVIII,BALI,13500,13500,13500,13650,13650,13650,13800,13800,...,19400,19400,19400,19400,19400,19400,19400,19400,19400,19800
18,XIX,NUSA TENGGARA BARAT,13750,13850,13850,13850,13850,13900,13850,14000,...,18850,19150,18900,18900,18900,18900,19200,19250,19250,19250
19,XX,NUSA TENGGARA TIMUR,15300,15300,15300,15300,15300,15300,15300,15200,...,19700,19700,19700,19700,19700,20050,20100,20100,20100,20100
20,XXI,KALIMANTAN BARAT,12800,12900,13200,13350,13350,13350,13350,13450,...,20250,20250,20250,20250,20250,20300,20300,20300,20300,20300
21,XXII,KALIMANTAN SELATAN,12700,12700,12800,12800,12800,12850,12900,12950,...,18950,18950,18950,18950,18950,18950,18950,19200,19200,19200
22,XXIII,KALIMANTAN TENGAH,13950,14000,14000,14100,14100,14100,14100,14300,...,19300,19300,19300,19300,19400,19400,19400,19400,19400,19400
23,XXIV,KALIMANTAN TIMUR,14500,14500,14500,14500,14500,14500,14500,14800,...,18950,19100,19150,19150,19200,19500,19550,19550,19600,19600
24,XXV,KALIMANTAN UTARA,13650,13650,13650,13650,13650,13650,13650,13700,...,NaN,NaN,NaN,NaN,NaN,19650,20150,20150,20300,20450
25,XXVI,GORONTALO,15950,15950,16150,16300,16300,16300,16300,16350,...,25700,25700,25700,25700,25700,25850,25550,25850,25850,25850
26,XXVII,SULAWESI SELATAN,12550,NaN,12650,12750,12750,12750,NaN,12800,...,18950,19050,19150,19200,19200,19250,18850,19750,19800,19900
27,XXVIII,SULAWESI TENGGARA,14000,14000,14200,14200,14150,14150,14150,14150,...,19650,19650,19700,19700,19700,19700,19700,19700,19700,19750
28,XXIX,SULAWESI TENGAH,14100,14100,14100,14100,14100,14100,13900,14100,...,20300,20300,20300,20450,20450,20500,20550,20550,20550,20550
29,XXX,SULAWESI UTARA,14950,15000,14900,14900,14900,14900,14900,14900,...,18250,18200,18200,18150,18200,18200,18250,18550,18550,18600
30,XXXI,SULAWESI BARAT,13300,13300,13300,13300,13350,13350,13350,13350,...,18700,18700,18750,18750,18750,18850,18700,18700,18700,18700
31,XXXII,MALUKU,15200,15200,15200,15200,15200,15250,15200,15200,...,20800,20800,20800,20800,20800,20800,20800,20800,20800,20800
32,XXXIII,MALUKU UTARA,14850,14850,14850,14850,14850,14850,14850,14850,...,17700,17750,18000,18000,18000,17500,17500,19000,22300,22300
33,XXXIV,PAPUA,14750,14750,14750,14750,14750,14750,14750,14750,...,19500,19750,19700,19750,19850,19950,19950,19950,20050,20050
34,XXXV,PAPUA BARAT,15250,15250,15450,15450,15450,15450,15450,15450,...,22150,22150,22150,22250,22250,22250,22250,22250,22250,22250

In [ ]:
df2.dropna(inplace=True)

In [ ]:
df2[df2.columns[2:]] = df2[df2.columns[2:]].astype(float)

In [ ]:
df2.dtypes

No.                     object
Provinsi                object
2020-02-01 00:00:00    float64
2020-03-01 00:00:00    float64
2020-06-01 00:00:00    float64
                        ...
27/12/2021             float64
28/12/2021             float64
29/12/2021             float64
30/12/2021             float64
31/12/2021             float64
Length: 490, dtype: object

In [ ]:
df2.fillna(0)

,No.,Provinsi,2020-02-01 00:00:00,2020-03-01 00:00:00,2020-06-01 00:00:00,2020-07-01 00:00:00,2020-08-01 00:00:00,2020-09-01 00:00:00,2020-10-01 00:00:00,13/01/2020,...,20/12/2021,21/12/2021,22/12/2021,23/12/2021,24/12/2021,27/12/2021,28/12/2021,29/12/2021,30/12/2021,31/12/2021
0,I,SEMUA PROVINSI,13500.0,13550.0,13600.0,13600.0,13600.0,13650.0,13650.0,13700.0,...,19500.0,19550.0,19550.0,19550.0,19550.0,19600.0,19650.0,19750.0,19850.0,19900.0
1,II,ACEH,13600.0,13600.0,13750.0,13750.0,13700.0,13700.0,13800.0,13800.0,...,19700.0,19950.0,19950.0,19950.0,20000.0,20000.0,20150.0,20150.0,20150.0,20150.0
2,III,SUMATERA UTARA,12750.0,12800.0,12800.0,12800.0,12800.0,12800.0,12800.0,12950.0,...,18850.0,18900.0,18900.0,18900.0,18800.0,18800.0,19000.0,19100.0,19200.0,19200.0
3,IV,SUMATERA BARAT,13050.0,13100.0,13200.0,13200.0,13200.0,13250.0,13300.0,13600.0,...,18600.0,18750.0,18750.0,18750.0,18750.0,18700.0,18750.0,18850.0,19000.0,19000.0
4,V,RIAU,13050.0,13050.0,13250.0,13250.0,13300.0,13350.0,13400.0,13550.0,...,18300.0,18300.0,18350.0,18700.0,18500.0,19150.0,19150.0,19150.0,19150.0,19150.0
5,VI,KEPULAUAN RIAU,12450.0,12450.0,12400.0,12400.0,12400.0,12400.0,12400.0,12450.0,...,20650.0,20650.0,0.0,0.0,0.0,19000.0,19300.0,19400.0,19400.0,19400.0
6,VII,JAMBI,12500.0,12500.0,12550.0,12600.0,12600.0,12600.0,12600.0,12600.0,...,18350.0,18350.0,18350.0,18350.0,18350.0,18350.0,18350.0,18350.0,18400.0,18400.0
7,VIII,BENGKULU,12250.0,12250.0,12250.0,12250.0,12250.0,12250.0,12250.0,12250.0,...,18850.0,18850.0,18850.0,18850.0,18850.0,18850.0,18850.0,18850.0,18850.0,18850.0
8,IX,SUMATERA SELATAN,13100.0,13000.0,13150.0,13150.0,13150.0,13150.0,13200.0,13250.0,...,19650.0,19300.0,19650.0,19650.0,19650.0,19650.0,19650.0,19650.0,19650.0,19650.0
9,X,KEPULAUAN BANGKA BELITUNG,12400.0,12400.0,12400.0,12400.0,12100.0,12100.0,12100.0,12100.0,...,19450.0,19350.0,20100.0,19450.0,19450.0,19450.0,19350.0,19350.0,19350.0,19350.0
10,XI,LAMPUNG,12600.0,12600.0,12650.0,12650.0,12700.0,12700.0,12800.0,12800.0,...,18750.0,19150.0,19150.0,19200.0,19200.0,19200.0,19250.0,19250.0,19250.0,19250.0
11,XII,BANTEN,12850.0,13000.0,13000.0,13000.0,13000.0,13050.0,13050.0,13200.0,...,19350.0,19350.0,19350.0,19350.0,19350.0,19600.0,19600.0,19600.0,19600.0,19600.0
12,XIII,JAWA BARAT,12950.0,13050.0,13150.0,13300.0,13300.0,13350.0,13350.0,13400.0,...,19600.0,19600.0,19600.0,19600.0,19650.0,19700.0,19700.0,19700.0,19750.0,19750.0
13,XIV,DKI JAKARTA,13050.0,13050.0,13400.0,13850.0,13850.0,13850.0,13900.0,13900.0,...,20400.0,20400.0,20400.0,20400.0,20400.0,20600.0,20450.0,20450.0,20550.0,20550.0
14,XV,JAWA TENGAH,12600.0,12500.0,12650.0,12650.0,12650.0,12700.0,12650.0,12800.0,...,18850.0,18850.0,18900.0,18900.0,18900.0,19050.0,19100.0,19150.0,19200.0,19200.0
15,XVI,DI YOGYAKARTA,12150.0,12150.0,12150.0,12150.0,12150.0,12150.0,12150.0,12150.0,...,18550.0,18550.0,18550.0,18550.0,18550.0,18550.0,18600.0,18600.0,18600.0,18600.0
16,XVII,JAWA TIMUR,12600.0,12650.0,12700.0,12700.0,12700.0,12750.0,12750.0,12850.0,...,19000.0,19150.0,19100.0,19150.0,19150.0,19250.0,19350.0,19350.0,19350.0,19400.0
17,XVIII,BALI,13500.0,13500.0,13500.0,13650.0,13650.0,13650.0,13800.0,13800.0,...,19400.0,19400.0,19400.0,19400.0,19400.0,19400.0,19400.0,19400.0,19400.0,19800.0
18,XIX,NUSA TENGGARA BARAT,13750.0,13850.0,13850.0,13850.0,13850.0,13900.0,13850.0,14000.0,...,18850.0,19150.0,18900.0,18900.0,18900.0,18900.0,19200.0,19250.0,19250.0,19250.0
19,XX,NUSA TENGGARA TIMUR,15300.0,15300.0,15300.0,15300.0,15300.0,15300.0,15300.0,15200.0,...,19700.0,19700.0,19700.0,19700.0,19700.0,20050.0,20100.0,20100.0,20100.0,20100.0
20,XXI,KALIMANTAN BARAT,12800.0,12900.0,13200.0,13350.0,13350.0,13350.0,13350.0,13450.0,...,20250.0,20250.0,20250.0,20250.0,20250.0,20300.0,20300.0,20300.0,20300.0,20300.0
21,XXII,KALIMANTAN SELATAN,12700.0,12700.0,12800.0,12800.0,12800.0,12850.0,12900.0,12950.0,...,18950.0,18950.0,18950.0,18950.0,18950.0,18950.0,18950.0,19200.0,19200.0,19200.0
22,XXIII,KALIMANTAN TENGAH,13950.0,14000.0,14000.0,14100.0,14100.0,14100.0,14100.0,14300.0,...,19300.0,19300.0,19300.0,19300.0,19400.0,19400.0,19400.0,19400.0,19400.0,19400.0
23,XXIV,KALIMANTAN TIMUR,14500.0,14500.0,14500.0,14500.0,14500.0,14500.0,14500.0,14800.0,...,18950.0,19100.0,19150.0,19150.0,19200.0,19500.0,19550.0,19550.0,19600.0,19600.0
24,XXV,KALIMANTAN UTARA,13650.0,13650.0,13650.0,13650.0,13650.0,13650.0,13650.0,13700.0,...,0.0,0.0,0.0,0.0,0.0,19650.0,20150.0,20150.0,20300.0,20450.0
25,XXVI,GORONTALO,15950.0,15950.0,16150.0,16300.0,16300.0,16300.0,16300.0,16350.0,...,25700.0,25700.0,25700.0,25700.0,25700.0,25850.0,25550.0,25850.0,25850.0,25850.0
26,XXVII,SULAWESI SELATAN,12550.0,0.0,12650.0,12750.0,12750.0,12750.0,0.0,12800.0,...,18950.0,19050.0,19150.0,19200.0,19200.0,19250.0,18850.0,19750.0,19800.0,19900.0
27,XXVIII,SULAWESI TENGGARA,14000.0,14000.0,14200.0,14200.0,14150.0,14150.0,14150.0,14150.0,...,19650.0,19650.0,19700.0,19700.0,19700.0,19700.0,19700.0,19700.0,19700.0,19750.0
28,XXIX,SULAWESI TENGAH,14100.0,14100.0,14100.0,14100.0,14100.0,14100.0,13900.0,14100.0,...,20300.0,20300.0,20300.0,20450.0,20450.0,20500.0,20550.0,20550.0,20550.0,20550.0
29,XXX,SULAWESI UTARA,14950.0,15000.0,14900.0,14900.0,14900.0,14900.0,14900.0,14900.0,...,18250.0,18200.0,18200.0,18150.0,18200.0,18200.0,18250.0,18550.0,18550.0,18600.0
30,XXXI,SULAWESI BARAT,13300.0,13300.0,13300.0,13300.0,13350.0,13350.0,13350.0,13350.0,...,18700.0,18700.0,18750.0,18750.0,18750.0,18850.0,18700.0,18700.0,18700.0,18700.0
31,XXXII,MALUKU,15200.0,15200.0,15200.0,15200.0,15200.0,15250.0,15200.0,15200.0,...,20800.0,20800.0,20800.0,20800.0,20800.0,20800.0,20800.0,20800.0,20800.0,20800.0
32,XXXIII,MALUKU UTARA,14850.0,14850.0,14850.0,14850.0,14850.0,14850.0,14850.0,14850.0,...,17700.0,17750.0,18000.0,18000.0,18000.0,17500.0,17500.0,19000.0,22300.0,22300.0
33,XXXIV,PAPUA,14750.0,14750.0,14750.0,14750.0,14750.0,14750.0,14750.0,14750.0,...,19500.0,19750.0,19700.0,19750.0,19850.0,19950.0,19950.0,19950.0,20050.0,20050.0
34,XXXV,PAPUA BARAT,15250.0,15250.0,15450.0,15450.0,15450.0,15450.0,15450.0,15450.0,...,22150.0,22150.0,22150.0,22250.0,22250.0,22250.0,22250.0,22250.0,22250.0,22250.0

In [ ]:
df2.to_csv('clean_2020-2022.csv',index=False)